<%- include("partials/header") -%> 
<h1> About Us </h1>
<img src="https://media-exp1.licdn.com/dms/image/C561BAQGLjJ0ZpqJ-JQ/company-background_10000/0/1519797201497?e=2159024400&v=beta&t=XgcUHTAzw9t3ubGEoWgQP-f2UUKgvT2V_IvdpF7JSkY" class="img-fluid" alt="some problem" width="700" height="400">
<br>
<br>
<p style="width: 700;"><%= AboutUsPage %></p>

<%- include("partials/footer") -%> 