<%- include("partials/header") -%> 
<h1>Contact</h1>

<p><%= ContactUsPage %></p>
<span>
<h3 style="color: turquoise;" style="display: inline;">Mayank Rawat</h3> 
<span>Email: abc@gmail.com  <br> Phone no: 9977XXXXXX0</span>
</span>

<span>
    <h3 style="color: turquoise;" style="display: inline;">Mayank Sherawat</h3> 
    <span>Email: efg@gmail.com  <br> Phone no: 8107XXXXXX0</span> 
</span>
<%- include("partials/footer") -%> 